<div id="messages container" data-controller="messages">
  <div id="messages" class="box-size rounded-5 bg-white mb-4">
    <% @messages.each do |message| %>
      <% if message.role == "user" %>
        <div class="d-flex justify-content-end mb-2">
          <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
            <%= message.content %>
          </div>
        </div>
      <% elsif message.role == "assistant" %>
        <div class="d-flex justify-content-start mb-5">
          <div class="px-3 pb-0 pt-3">
            <%= markdown(message.content) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div id="chat_dashboard" class="box-size p-0">
<%= simple_form_for(@user_message, url: messages_path, html: { id: "chat-form" }) do |f| %>
    <div class="position-relative my-4">
      <%= f.input :content,
            as: :string,
            placeholder: "Message..",
            required: true,
            label: false,
            input_html: { class: "form-control rounded-pill pe-5 bg-white" } %>

      <!-- Send button inside the input -->
      <%= f.button :button, class: "btn btn-success rounded-circle position-absolute end-0 top-50 translate-middle-y me-2" do %>
        <i class="fa-solid fa-arrow-up text-white"></i>
      <% end %>
    </div>
  <% end %>
</div>
