<%= render "users/balance_box" %>
<!-- | -->
<!-- | -->
<!-- STATS -->
<!-- | -->
<div id="dashboard_stats_container"
    class="d-flex flex-row box-size p-0 gap-2 mb-3">
  <div id="last_month_comparison_stat"
      class="flex-fill rounded-5 shadow-sm p-3 bg-secondary">
    <div class="fw-bold">Compared to last month</div>
    <div class="fs-3 fw-bold text-primary">
      <% if @percentage_compare.nil? %>
        Not available yet
      <% else %>
        <%= "#{@percentage_compare.round}%" %>
      <% end %>
    </div>
    <div>
      <% if @percentage_compare.present? %>
        <% if @percentage_compare.positive? %>
          You are spending more than last month.
        <% else %>
          Nice! You spent less.
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="daily_average_stat" class="flex-fill rounded-5 shadow-sm p-3 bg-secondary">
    <div class="fw-bold">Daily average</div>
    <div class="fs-3 fw-bold">
      <%= number_to_currency(@daily_average_30d, unit: "¥", precision: 0, delimiter: ",") %>
    </div>
  </div>
</div>
<!-- CREATE TRANSACTION FORM -->
<!-- | -->
<div id="create_transaction_form" class="box-size rounded-5 shadow-sm p-3 mb-4 bg-secondary">
  <h4 class="text-center">Add Transaction</h4>
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings-tab-pane" role="tab" aria-controls="bookings-tab-pane" aria-selected="true">
        Expense
      </span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests-tab-pane" role="tab" aria-controls="requests-tab-pane" aria-selected="false">
        Income
      </span>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="bookings-tab-pane" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">
      <%= render "partials/form", transaction: @transaction, categories: current_user.categories, expense: true %>
    </div>
    <div class="tab-pane fade py-3" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
      <%= render "partials/form", transaction: @transaction, categories: current_user.categories, expense: false %>
    </div>
  </div>
</div>
<div class="pb-5">
</div>
