<div class="navbar navbar-expand-sm navbar-light footer">
  <div class="footer-content d-flex w-100 justify-content-between">
    <div class="nav-item">
      <%= link_to "#", class: "nav-link d-flex flex-column align-items-center" do %>
        <%= image_tag "dashboard_icon.png", alt: "Dashboard", class: "icon" %>
        <span class="icon-text">Dashboard</span>
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to "#", class: "nav-link d-flex flex-column align-items-center" do %>
        <%= image_tag "expenses_icon.png", alt: "Expenses", class: "icon" %>
        <span class="icon-text">Expenses</span>
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to messages_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <%= image_tag "chat_icon.png", alt: "Chat", class: "icon" %>
        <span class="icon-text">Chat with AI</span>
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to "#", class: "nav-link d-flex flex-column align-items-center" do %>
        <%= image_tag "safe_icon.png", alt: "Safe", class: "icon" %>
        <span class="icon-text">Savings</span>
      <% end %>
    </div>
  </div>
</div>
