<nav class="navbar navbar-light bg-white fixed-bottom shadow-sm p-0">
  <div class="d-flex w-100 justify-content-around text-center">
    <div class="nav-item flex-fill">
      <%= link_to root_path, class: "nav-link d-flex flex-column align-items-center py-2" do %>
        <i class="fa-solid fa-house <%= current_page?(root_path) ? 'green' : '' %>"></i>
        <small>Dashboard</small>

      <% end %>
    </div>

    <div class="nav-item flex-fill">
      <%= link_to transactions_path, class: "nav-link d-flex flex-column align-items-center py-2" do %>
        <i class="fa-solid fa-wallet <%= current_page?(transactions_path) ? 'green' : '' %>"></i>
        <small>Transactions</small>
      <% end %>
    </div>

    <div class="nav-item flex-fill">
      <%= link_to categories_path, class: "nav-link d-flex flex-column align-items-center py-2" do %>
        <i class="fa-solid fa-list <%= current_page?(categories_path) ? 'green' : '' %>"></i>
        <small>Categories</small>
      <% end %>
    </div>
    <div class="nav-item flex-fill">
      <%= link_to messages_path, class: "nav-link d-flex flex-column align-items-center py-2" do %>
        <i class="fa-solid fa-comment-dots <%= current_page?(messages_path) ? 'green' : '' %>"></i>
        <small>Chat with Centsi</small>
      <% end %>
    </div>
  </div>
</nav>
