<div class="navbar navbar-expand-sm navbar-light footer w-100">
  <footer class="footer-content d-flex w-100 justify-content-between">
    <div class="nav-item">
      <%= link_to root_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fa-solid fa-house icon <%= current_page?(root_path) ? 'green' : '' %>" style="color: #828282;"></i>
        <h5 class="icon-text">Dashboard</h5>
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to transactions_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fa-solid fa-wallet icon <%= current_page?(transactions_path) ? 'green' : '' %>" style="color: #828282;"></i>
        <h5 class="icon-text">Transactions</h5>
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to messages_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fa-solid fa-comment-dots icon <%= current_page?(messages_path) ? 'green' : '' %>" style="color: #828282;"></i>
        <h5 class="icon-text">Chat with AI</h5>
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to categories_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fa-solid fa-list icon <%= current_page?(categories_path) ? 'green' : '' %>" style="color: #828282;"></i>
        <h5 class="icon-text">Categories</h5>
      <% end %>
    </footer>
  </div>
</div>
