<%# HEADER PARTIAL %>
<div class="box-size">
  <%= render "users/balance_box" %>
</div>
<%# HEADER PARTIAL %>
<%# making colors same to piechart and the dropdown  %>
<% category_colors = {} %>
<% @category_totals.each_with_index do |(title, _), index| %>
  <% next if title == "Income" %>
  <% category_colors[title] = Category::COLORS[index] %>
<% end %>
<%# making colors same to piechart and the dropdown  %>
<%# NAV BAR %>
<div class="box-size">
  <% filtered_totals = @category_totals.reject { |title, _| title == "Income" } %>
  <%= pie_chart filtered_totals.sort_by { |_, value| -value}, colors: category_colors.values, library: { pieSliceText: 'value' } %>
</div>

<%# Sorting by months %>
<p class="box-size mb-2">
  Sort by:
  <%= link_to "This month",     categories_path(range: "this_month"),     class: (@range == "this_month" ? "fw-bold" : "") %> |
  <%= link_to "Last month",     categories_path(range: "last_month"),     class: (@range == "last_month" ? "fw-bold" : "") %> |
  <%= link_to "Last 6 months",  categories_path(range: "last_6_months"),  class: (@range == "last_6_months" ? "fw-bold" : "") %> |
  <%= link_to "Total",          categories_path(range: "total"),          class: (@range == "total" ? "fw-bold" : "") %>
</p>

<%# Sorting the categories by amount %>
<% sorted_transactions = @transactions.reject { |category, transactions| category.title == "Income" || transactions.empty? }.sort_by { |category, transactions| -transactions.sum(&:amount) } %>
<%# Sorting the categories %>

<%# Transactions by Category - Collapsible Cards %>
<div class="box-size">
  <% sorted_transactions.each_with_index do |(category, transactions), index| %>
    <% next if category.title == "Income" || transactions.empty? %>
    <% category_total = transactions.sum(&:amount) %>
    <div class="card mb-2 rounded-4">
      <div class="card-header rounded-3" id="heading-<%= category.id %>">
        <h5 class="mb-0">
          <button class="btn text-dark text-decoration-none d-flex justify-content-between align-items-center w-100 rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= category.id %>" aria-expanded="false" aria-controls="collapse-<%= category.id %>">
            <%# Checkbox-style box color  %>
            <div class="me-2 mt-1" style="width: 20px; height: 20px; background-color: <%= category_colors[category.title] %>; border: 1px solid #ccc; border-radius: 4px;"></div>
            <%# Checkbox-style box color  %>
            <!-- Left side: icon -->
            <span class="me-2" ><i class="fa-solid fa-angles-down fa-xs"></i></span>
            <span class="me-2"><strong><%= category.title %></strong></span>
            <%# color displaying on the container small %>
            <%# <p class="text-secondary text-opacity-25" style="background-color: = category_colors[category.title]"> ______ </p> %>
            <%# color displaying on the container small %>
            <!-- Right side: total sum -->
            <div class="d-flex ms-auto">
              <%# color the text if it is over the budget or below the budget  %>
      <% if category_total >= category.limit %>

              <p class="text-danger">¥<%= category_total %></p>
              <%# showing the limit %>
              <% else %>
              <p class="text-success">¥<%= category_total %></p>
              <% end %>

            </div>
          </button>
        </h5>
      </div>
      <div id="collapse-<%= category.id %>" class="collapse" aria-labelledby="heading-<%= category.id %>">
        <div class="card-category p-2">
          <% transactions.sort_by { |t| -t.amount }.each do |transaction| %>
            <div class="d-flex justify-content-between py-1">
              <div><%= transaction.description %></div>
              <div>¥<%= transaction.amount %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="box-size card-body mt-3 mb-3">
  <div class="w-100 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
    <h2>Add a New Category  <i class="fa-solid fa-circle-plus fa-xl" style="color: #99bc85;"></i> </h2>
  </div>
  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">Add a New Category</h5>
      <%# <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> %>
    </div>
    <div class="offcanvas-body small">
      <%= simple_form_for @category do |f| %>
        <%= f.input :title %>
        <%= f.input :limit, as: :integer, step: 1000,  placeholder: "Set your Monthly Budget(Optional)", label: false, input_html: { min: "0" } %>
        <%= f.submit %>
      <% end %>
    </div>


  </div>
</div>
<%# NAV BAR %>
</div>
