<%# HEADER PARTIAL %>

<div class="box-size">
<%= render "users/balance_box" %>
</div>
<%# HEADER PARTIAL %>
<%# Categories piechart/ chart %>
<div class="box-size">
  <% filtered_totals = @category_totals.reject { |title, _| title == "Income" } %>
  <%= pie_chart filtered_totals, colors: Category::COLORS, library: { pieSliceText: 'value' } %>
</div>
<div class="container">
  <div class="box-size card-body">
    <div id="transaction_index">
      <h3 class="card-title">Categories</h3>
      <% @transactions.each_with_index do |(category, transactions), index| %>
          <% if category.title != "Income"%>

        <div class="d-flex justify-content-between">
          <h4 class="mt-3" style="background-color: <%= Category::COLORS[index] %>;"><%= category.title %></h4>
          <h4 class="mt-3"> ¥ <%= transactions.pluck(:amount).sum %></h4>
        </div>
        <% end %>

        <div class="row" >
          <% transactions.each do |transaction| %>
          <%# raise %>

            <div class="col-4">
              <p><%= transaction.description %></p>
            </div>
            <div class="col-4">
              <p><%= transaction.created_at.strftime("%b %d") %></p>
            </div>
            <div class="col-4">
              <p> - ¥<%= transaction.amount %></p>
            </div>


          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="box-size card-body mt-3 mb-3">
    <div class="w-100 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
      <h2>Add a New Category  <i class="fa-solid fa-circle-plus fa-xl" style="color: #99bc85;"></i> </h2>
    </div>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Add a New Category</h5>
        <%# <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> %>
      </div>
      <div class="offcanvas-body small">
        <%= simple_form_for @category do |f| %>
          <%= f.input :title %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <%# NAV BAR %>
</div>
<%# NAV BAR %>
