<h2>Transactions Index page</h2>
    <%# If we wan to sort it out in html file we need this line in the controller
    # @transactions = current_user.transactions.order(created_at: :desc) %>
e<% @transactions.each do |transaction| %>
  <%= transaction.description %>
  <%= transaction.amount %>
  <%= transaction.category.title %>
  <%= transaction.date %>
<% end %>

<h2>Available Balance</h2>
<h4><%= "¥#{@available_balance}" %></h4>

<h3>Total spent</h3>
<h4><%= "¥#{@total_spent}" %></h4>
