<!DOCTYPE html>
<html>
  <head>
    <title>Centsible</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Centsible">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="manifest" href="/manifest.webmanifest">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body data-controller="scroll-nav">
      <%= render "shared/navbar" %>
    <%#= render "shared/flashes" %>
    <div class="content mt-5 pt-5">
      <%= yield %>
    </div>
      <%= render "shared/footer_navbar" %>
  </body>
</html>
